@using LanguageLearningSchool.Enums;
@using LanguageLearningSchool.ViewModels;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager
@model UserDetailsViewModel
@{
    var LanguageColour = new Dictionary<Languages, string>
    {
        {Languages.English, "#FED6BC"},
        {Languages.Spanish, "#FFFADD"},
        {Languages.French, "#DEF7FE"},
        {Languages.German, "#E7ECFF"},
        {Languages.Chinese, "#C3FBD8"},
        {Languages.Japanese, "#FDEED9"},
        {Languages.Italian, "#F6FFF8"},
        {Languages.Portuguese, "#B5F2EA"},
        {Languages.Korean, "#C6D8FF"},
    };
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .courseDetail {
            width: 100%;
            align-items: stretch;
        }

        .courseBackgroundColour {
            width: 100%;
            height: 150px;
        }
        .courseInfo {
            display: flex;
            width: 100%;
        }

        .courseFullInfo {
            width: 70%;
        }

        .userDetails {
            width: 100%;
            padding-left: 10px;
            padding-top: 10px;
        }

        .courseExtraInfo {
            width: 30%;
        }

        .courseButtons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        .courseButtons a {
            margin-top: 10px;
            width: 140px;
        }

        .courseUsers {
            padding-left: 10px;
            padding-top: 10px;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="courseDetail">
            <div class="courseBackgroundColour" style="display: flex; justify-content: center; align-items: center; background-color: #FABFFE;">
                <h5>Account information</h5>
            </div>
            <div class="courseInfo">
                <div class="courseFullInfo border">
                    <div class="userDetails">
                        <p>Name:<br>@Model.User.Name<br></p>
                        <p>Middle name:<br>@Model.User.MiddleName<br></p>
                        <p>Surname:<br>@Model.User.Surname<br></p>
                        <p>Phone number:<br>@Model.User.PhoneNumber<br></p>
                        <p>Email:<br>@Model.User.Email<br></p>
                        <p>Role:<br>@Model.User.UserRole<br></p>
                        <br>
                        
                    </div>
                    @if (await UserManager.IsInRoleAsync(@Model.User, Roles.Teacher.ToString()))
                    {

                        <div class="row" style="padding-left:10px; padding-right:10px;">
                            <p>Сourses you have created:</p>
                            @foreach (var item in Model.UserAndCourses)
                            {
                                var currentColour = LanguageColour[item.Course.Language];
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <div class="card-img-top"
                                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=CourseName"
                                                style="height: 150px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: @currentColour"
                                            data-holder-rendered="true">
                                                    <h5>@item.Course.CourseName</h5>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                <p>Date of creation of this course:<br>@item.DateOfCreation</p>
                                                <div class="btn-group">
                                                    <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.CourseId" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else if (await UserManager.IsInRoleAsync(@Model.User, Roles.Admin.ToString()))
                    {
                        <div class="row" style="padding-left:10px; padding-right:10px;">
                                <p>Сourses you are registered for:</p>
                                <p>On progress:</p>
                            @foreach (var item in Model.UserAndCourses)
                            {
                                if (item.EndDate == null && item.DateOfCreation == null)
                                {
                                    var currentColour = LanguageColour[item.Course.Language];
                                        <div class="col-md-4">
                                            <div class="card mb-4 box-shadow">
                                                <div class="card-img-top"
                                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=CourseName"
                                                        style="height: 150px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: @currentColour"
                                                    data-holder-rendered="true">
                                                            <h5>@item.Course.CourseName</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <p>Start date:<br>@item.StartDate</p>
                                                        <div class="btn-group">
                                                            <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.CourseId" 
                                                                type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                                            <a asp-controller="User" asp-action="LeaveCourse" asp-route-courseId="@item.CourseId" 
                                                                type="button" class="btn btn-sm btn-outline-secondary" style="background-color: #FE6C6C;">
                                                                Leave course</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                }

                            }
                        </div>
                            
                        <div class="row" style="padding-left:10px; padding-right:10px;">
                            <p>Passed:</p>
                            @foreach (var item in Model.UserAndCourses)
                            {
                                if (item.EndDate != null)
                                {
                                    var currentColour = LanguageColour[item.Course.Language];
                                        <div class="col-md-4">
                                            <div class="card mb-4 box-shadow">
                                                <div class="card-img-top"
                                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=CourseName"
                                                        style="height: 150px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: @currentColour"
                                                    data-holder-rendered="true">
                                                            <h5>@item.Course.CourseName</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <p>Start date:<br>@item.StartDate</p>
                                                        <p>End date:<br>@item.EndDate</p>
                                                        <p>General estimation:<br>@item.GeneralEstimation</p>
                                                        <div class="btn-group">
                                                            <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.CourseId" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                }

                            }
                        </div>
   
                        <div class="row" style="padding-left:10px; padding-right:10px;">
                            <p>Сourses you have created:</p>
                            @foreach (var item in Model.UserAndCourses)
                            {
                                if (item.DateOfCreation != null)
                                {
                                    var currentColour = LanguageColour[item.Course.Language];
                                        <div class="col-md-4">
                                            <div class="card mb-4 box-shadow">
                                                <div class="card-img-top"
                                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=CourseName"
                                                        style="height: 150px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: @currentColour"
                                                    data-holder-rendered="true">
                                                            <h5>@item.Course.CourseName</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <p>Date of creation of this course:<br>@item.DateOfCreation</p>
                                                        <div class="btn-group">
                                                            <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.CourseId" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                }

                            }
                        </div>
                    }
                    else if (await UserManager.IsInRoleAsync(@Model.User, Roles.Student.ToString()))
                    {
                        <p  style="padding-left:10px;">Сourses you are registered for:</p>
                        <p style="padding-left:10px;">On progress:</p>
                        <div class="row" style="padding-left:10px; padding-right:10px;">
                            @foreach (var item in Model.UserAndCourses)
                            {
                                if (item.EndDate == null)
                                {
                                    var currentColour = LanguageColour[item.Course.Language];
                                    <div class="col-md-4">
                                        <div class="card mb-4 box-shadow">
                                            <div class="card-img-top"
                                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=CourseName"
                                                    style="height: 150px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: @currentColour"
                                                data-holder-rendered="true">
                                                        <h5>@item.Course.CourseName</h5>
                                            </div>
                                            <div class="card-body">
                                                <div>
                                                    <p>Start date:<br>@item.StartDate</p>
                                                    <div class="btn-group">
                                                        <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.CourseId" 
                                                            type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                                        <a asp-controller="User" asp-action="LeaveCourse" asp-route-courseId="@item.CourseId" 
                                                            type="button" class="btn btn-sm btn-outline-secondary" style="background-color: #FE6C6C;">
                                                            Leave course</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                
                            }
                        </div>
                        <p style="padding-left:10px">Passed:</p>
                        <div class="row" style="padding-left:10px; padding-right:10px;">
                            @foreach (var item in Model.UserAndCourses)
                            {
                                if (item.EndDate != null)
                                {
                                    var currentColour = LanguageColour[item.Course.Language];
                                        <div class="col-md-4">
                                            <div class="card mb-4 box-shadow">
                                                <div class="card-img-top"
                                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=CourseName"
                                                        style="height: 150px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: @currentColour"
                                                    data-holder-rendered="true">
                                                            <h5>@item.Course.CourseName</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <p>Start date:<br>@item.StartDate</p>
                                                        <p>End date:<br>@item.EndDate</p>
                                                        <p>General estimation:<br>@item.GeneralEstimation</p>
                                                        <div class="btn-group">
                                                            <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.CourseId" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                }

                            }
                        </div>
                    }
                    
                </div>
                <div class="courseExtraInfo border">
                    <div class="courseButtons">
                        <a asp-area="" asp-controller="Account" asp-action="LogOut" method="get"
                        class="btn btn-sm btn-outline-secondary">Log out</a>
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.User.Id"
                            class="btn btn-sm btn-outline-secondary">Edit account info</a>
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@Model.User.Id" 
                            class="btn btn-sm btn-outline-secondary" style="background-color: #FE6C6C;">
                            Delete this account</a>
                            @if(await UserManager.IsInRoleAsync(@Model.User, Roles.Admin.ToString()) ||
                                await UserManager.IsInRoleAsync(@Model.User, Roles.Teacher.ToString()))
                            {
                                <form method="post" asp-controller="Course" asp-action="GenerateCoursesDataReport">
                                    <button style="margin-top: 10px; width: 140px;" type="submit" class="btn btn-sm btn-outline-secondary">Report of courses</button>
                                </form>
                            }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>